<form action="/login" method="post">
<label for="username">Username:</label>
<input type="text" name="user[name]" id="username">
<label for="password">Password:</label>
<input type="text" name="user[password]" id="password">
<button class="btn-large waves-effect waves-light orange" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>