<% if @user.errors.any? %>
  <div class ="row col s12">
    <ul class="collection">
    <% @user.errors.full_messages.each do |msg| %>
    <li class="collection-item"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1 class="header center orange-text">Login</h1>
<form action="/login" method="post">
<label for="username">Username:</label>
<input type="text" name="user[name]" id="username">
<label for="password">Password:</label>
<input type="text" name="user[password]" id="password">
<button class="btn-large waves-effect waves-light orange" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>