 <h1 class="header center orange-text">Recipe Creator</h1>
 <br>
 <h5 class="header left orange-text">Recipe Stats</h5>

<div class="row">
  <form class="col s12" action="/recipes" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" name="recipe[name]" id="recipename">
          <label for="recipename">Name</label>
        </div>
        <div class="input-field col s6">
          <input type="text" name="recipe[style]" id="recipestyle">
          <label for="recipestyle">Style</label>
        </div>
        <div class="input-field col s4">
         <input type="text" name="recipe[method]" id="method">
          <label for="method"> Method</label>
        
        </div>
        <div class="input-field col s4">
          <input type="text" name="recipe[boil_time]" id="boil_time">
          <label for="boil_time">Boil time</label>
        </div>

        <div class="input-field col s4">
         <input type="text" name="recipe[batch_size]" id="batch_size">
          <label for="batch_size"> Batch Volume: </label>
        </div>

        <div class="input-field col s4">
         <input type="text" name="recipe[pre_boil_size]" id="pre_boil">
          <label for="pre_boil"> Pre-boil Volume: </label>
        </div>
      
        <div class="input-field col s4">
         <input type="text" name="recipe[pre_boil_gravity]" id="pre_boil_gravity">
          <label for="pre_boil_gravity">Pre-boil Gravity: </label>
        </div>

        <div class="input-field col s4">
          <input type="text" name="recipe[target_og]" id="target_og">
          <label for="target_og">Target Original Gravity: </label>
        </div>

        <div class="input-field col s4">
          <input type="text" name="recipe[target_fg]" id="target_fg">
          <label for="target_fg">Target Final Gravity: </label>
        </div>
        <div class="input-field col s4">
          <input type="text" name="recipe[mash_ph]" id="mash_ph">
          <label for="mash_ph">Mash Ph: </label>
        </div>
        <div class="input-field col s4">
          <input type="text" name="recipe[mash_schedule]" id="mash_schedule">
          <label for="mash_schedule">Mash schedule: </label>
        </div>
      </div>
      <h5 class="header orange-text col s12">Hops</h5>
      <br>
      <div class="row">
        <div class="input-field col s4">
          <input type="text" name="hop[][name]" id="hopname">
          <label for="hopname">Hop used: </label>
        </div>
        <div class="input-field col s4">
          <input type="text" name="hop[][form]" id="hoptype">
          <label for="hoptype">Hop type: </label>
        </div>
        <div class="input-field col s4">
          <input type="text" name="hop[][alpha_acid]" id="hop_alpha_acid">
          <label for="hop_alpha_acid">Alpha Acid: </label>
        </div>
        <div class="input-field col s4">
          <label for="hop1_time_added">Time added: </label>
          <input type="text" name="hop[][time_added]" id="hop1_time_added">
        </div>
        <div class="input-field col s2">
          <label for="hop1_measurement_quantity">Hop weight: </label>
            <input type="text" name="hop[][measurement_amount]" id="hop1_measurement_quantity">
        </div>
        <div class="input-field col s2">
          <label for="hop1_measurement">lbs, oz, kg, g </label>
          <input type="text" name="hop[][measurement]" id="hop1_measurement">
        </div>
      </div>
      <h5 class="header orange-text col s12">Grain</h5>
      <br>
      <div class="row">
        <div class="input-field col s4">
          <input type="text" name="fermentable[][name]" id="fermentablename">
          <label for="fermentablename">Grain used: </label>
        </div>
        <div class="input-field col s2">
          <input type="text" name="fermentable[][measurement_amount]" id="fermentable1_measurement_quantity">
          <label for="fermentable1_measurement_quantity">Grain weight: </label>
        </div>
        <div class="input-field col s2">
           <input type="text" name="fermentable[][measurement]" id="fermentable1_measurement">
          <label for="hop_alpha_acid">lbs, oz, kg, g </label>
        </div>
      </div><h5 class="header orange-text col s12">Yeast</h5>
      <br>
      <div class="row">
        <div class="input-field col s4">
          <input type="text" name="yeast[][name]" id="yeast_name">
          <label for="yeast_name">Yeast used: </label>
        </div>
        <div class="input-field col s2">
          <input type="text" name="yeast[][measurement_amount]" id="yeast1_measurement_quantity">
          <label for="yeast1_measurement_quantity">Yeast amount: </label>
        </div>
        <div class="input-field col s2">
           <input type="text" name="yeast[][measurement]" id="yeast1_measurement">
          <label for="yeast1_measurement">lbs, oz, kg, g </label>
        </div>
      </div>
      <h5 class="header orange-text col s12">Other Ingredients</h5>
      <br>
      <div class="row">
        <div class="input-field col s4">
           <input type="text" name="other_ingredient[][name]" id="other_ingredient_name">
          <label for="other_ingredient_name">Other Ingredient used: </label>
        </div>
        <div class="input-field col s2">
          <input type="text" name="other_ingredient[][time_added]" id="other_ingredient1_time_added">
          <label for="other_ingredient1_time_added">Time added: </label>
        </div>
        <div class="input-field col s2">
             <input type="text" name="other_ingredient[][measurement_amount]" id="other_ingredient1_measurement_quantity">
          <label for="other_ingredient1_measurement_quantity">amount</label>
        </div>
        <div class="input-field col s2">
           <input type="text" name="other_ingredient[][measurement]" id="other_ingredient1_measurement">
          <label for="other_ingredient1_measurement">lbs, oz, kg, g </label>
        </div>
      </div>
  <button class="btn-large waves-effect waves-light orange" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
  </form>
</div>


  <%# Time added: <input type="text" name="fermentable[][time_added]" id="fermentable1_time_added"> %>
  