<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>BrewTracker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
0
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body><nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Brew Tracker</a>
      <ul class="right hide-on-med-and-down">
        <% unless logged_in? %>
            <li><a href="/login">Login</a></li>
          <% else %>
            <li><%= current_user.name %></li>
            <li><a href="/logout">Logout</a></li>
          <% end %>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
 

    </div>
  </div>
    <div class="wrapper">
         
        <%= yield %>
 
    </div>

    <%# <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> %>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->

     <script type="text/javascript" src="/public/js/materialize.min.js"></script>
  </body>
</html>
