<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    
        
    <div class="content">
      <p>Welcome to Brew Tracker Online! An online home for hopefully easy tracking of your brew day. Remember folks you can only reproduce greatness with impeccable notes!</p>
      <ul>
        <li><a href="/users/signup">Create Account</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
    
    

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
