 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Brew Tracker Online</h1>
      <div class="row center">
        <h5 class="header col s12 light">Welcome to Brew Tracker Online! An online home for  easy tracking of your brew day. Remember folks you can only reproduce greatness with impeccable notes!</h5>
      </div>
      <div class="row center">
        <a href="/users/signup" id="signup-button" class="btn-large waves-effect waves-light orange"><i class="material-icons left">how_to_reg</i>Signup</a>
          <a href="/login" id="login-button" class="btn-large waves-effect waves-light orange"><i class="material-icons left">login</i>Login</a>
      </div>
      
      <br><br>



    
  </div>
</div>
